<div class="container">
	<div class="row">
	  <div class="col-xs-9" ng-model="categoryDesc">
		<h3 class="pull-left">{{categoryDesc}}</h3>
	  </div>
	  <div class="col-xs-4" ng-model="categoryId">
		<a href="#" class="portfolio-box">
			<img src="/GeoService/resources/img/categories/{{categoryId}}.jpg" class="img-responsive" alt="">
		</a>
	  </div>
	  <div class="col-xs-6">
		<div class="list-group" >
			<div ng-repeat="subItem in subCategories" class="list-group-item">
			  <a href="{{subItem.navURL}}">
			  <span>{{subItem.description}}</span>
			  </a>
		  </div>
		</div>
	  </div>
	</div>
</div>
