
<div ng-controller="EventsController" ng-init="initNewEvent()">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2 class="pull-left">Create Event</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h4 class="pull-left font-black">Event Title</h4>
					</div>
					<div class="col-md-10">
						<input class="form-control input-lg" ng-model="title"  id="title" type="text">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4 class="pull-left font-black">Event Images</h4>
					</div>
					<div class="col-md-8">
						 <div class="well" >
							<form action="" class="dropzone" dropzone="" id="dropzone">
								<div class="dz-default dz-message">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4 class="pull-left font-black">Description</h4>
					</div>
					<div class="col-md-10">
						<textarea class="form-control" rows="5" ng-model="desc" id="desc" ></textarea>
						
					</div>
					<div class="col-md-3">
						<span id="text_counter" class="font-black pull-left"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4 class="pull-left font-black">Location</h4>
					</div>
					<div class="col-md-8">
						<input class="form-control input-lg"  ng-model="eventPlace" googleplace type="text">
					</div>
					<div class="col-md-1 pull-left">
						 <a  ng-click="openMap()"  class="btn btn-info btn-md a-prevent-default">
						  <span class="glyphicon glyphicon-map-marker"></span> Map
						</a>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-5">
						<h4 class="pull-left font-black">Starts</h4>
					</div>
					<div class="col-md-6">
						<h4 class="pull-left font-black">Ends</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<div class="hero-unit">
						<input class="form-control input-lg" ng-model="startDate" id="startDate" type="text">
						</div>
					</div>
					
					<div class="col-md-2">
						<select class="form-control input-lg" ng-model="startTime">
							<option></option>
							<option ng-repeat="time in timeSlots">{{time}}</option>
							
						</select>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
						<input class="form-control input-lg" ng-model="endDate" id="endDate" type="text">
					</div>
					
					<div class="col-md-2">
						<select class="form-control input-lg" ng-model="endTime">
							<option></option>
							<option ng-repeat="time in timeSlots">{{time}}</option>
						</select>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<h4 class="pull-left font-black">Tags</h4>
					</div>
					<div class="col-md-10">
						<div class="form-group">
							<input type="text" id="tags" class="form-control input-lg" />
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="panel-footer">
			<div  class="container">
				<a class="a-prevent-default" ng-click="createEvent()">
					<h3 class="pull-left"><span class="label label-success">Create</span></h3>
				</a>
			</div>
		</div>
	</div>
</div>
<script src="/GeoService/resources/js/ui/bootstrap-tagsinput.js"></script>

<script src="/GeoService/resources/js/ui/dropzone/dropzone.js"></script>

 <script type="text/javascript">
            // When the document is ready
			Dropzone.autoDiscover = false;
            $(document).ready(function () {
                
                $('#startDate').datepicker({
                    format: "dd/mm/yyyy",
					autoclose : true
                });  
				
				$('#endDate').datepicker({
                    format: "dd/mm/yyyy",
					autoclose : true
                });  
				
				
				
            });
			
		
</script>