<div ng-controller="MeetupsController" ng-init="initEditMeetup()">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h3 class="pull-left">{{meetup.title}}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<h4 class="pull-left font-black">About</h4>
					</div>
					<div class="col-md-10">
						<h4 class="pull-left font-black">{{meetup.description}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<h4 class="pull-left font-black">Starts</h4>
					</div>
					<div class="col-md-3">
						<h4 class="pull-left font-black">{{meetup.startDate}}</h4>
					</div>
					<div class="col-md-1">
						
					</div>
					<div class="col-md-2">
						<h4 class="pull-left font-black">Ends</h4>
					</div>
					<div class="col-md-3">
						<h4 class="pull-left font-black">{{meetup.endDate}}</h4>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-2">
						<h4 class="pull-left font-black">Location</h4>
					</div>
					<div class="col-md-10">
						<h4 class="pull-left font-black">{{meetup.location.name}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<h4 class="pull-left font-black">Organizer</h4>
					</div>
					<div class="col-md-10">
						<h4 class="pull-left font-black">{{meetup.organizer.name}}</h4>
					</div>
				</div>
				<div class="row" ng-if="isMeetupAtEvent">
					<div class="col-md-6">
						<h4 class="pull-left font-black">Event at Meetup</h4>
					</div>
					<div class="col-md-10">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-3">
										<a href="#/events/{{eventInfo.uuid}}" class="portfolio-box">
											<img data-ng-src="data:image/jpg;base64,{{eventInfo.image}}" class="img-responsive" alt="">
										</a>
									</div>
									<div class="col-md-8">
										<div class="row">
											<div class="col-md-8 pull-left">
												<p class="font-black pull-left">{{eventInfo.startDate}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-8 pull-left">
												<a href="#/events/{{eventInfo.uuid}}" class="portfolio-box">
													<h4 class="font-black pull-left">{{eventInfo.title}}</h4>
												</a>
											</div>
										</div>
										<div class="row">
											<div class="col-md-8 pull-left">
												<span class="font-black pull-left">{{eventInfo.eventDetails.organizer.name}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-md-11">
											<ul class="list-inline">
												<li class="font-black" ng-repeat="tag in eventInfo.tags">
													<span class="label label-info">#{{tag.description}}</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			<div class="container">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" class="a-prevent-default" data-target="#invite">Invite People</a></li>
					<li><a data-toggle="tab" class="a-prevent-default" data-target="#attendees">Attendees</a></li>
					<li><a data-toggle="tab" class="a-prevent-default" data-target="#messages">Messages</a></li>
				</ul>
				<div class="tab-content">
					<div id="invite" class="tab-pane fade in active">
						<div class="row" ng-if="isOrganizerLogin">
							<div class="col-md-8">
								<div ng-if="foundfriends" class="list-group">
									 <div class="row list-group-item" ng-repeat="friend in fbfriends">
										<div class="col-md-1">
											<input type="checkbox" checked>
										</div>
										<div class="col-md-1">
										
										</div>
										<div class="col-md-1">
											<img src="{{friend.pic}}" style="width:30px;height:30px">
										</div>
										<div class="col-md-9">
											<h4 class="list-group-item-heading font-black pull-left">{{friend.name}}</h4>
										</div>
									 
									  </div>
									 
								</div>
							</div>
							<div class="col-md-6">
								<a class="a-prevent-default" ng-click="inviteFriends()">
									<h3 class="pull-left"><span class="label label-primary">Invite Friends</span></h3>
								</a>
							</div>
							
						</div>
					</div>
					<div id="attendees" class="tab-pane fade">
						<div class="row font-black">
							<div class="col-md-8" ng-if="attendeesExist">
								
								
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Attendee Name</th>
											<th>Going?</th>
											
											
										</tr>
									</thead>
									<tbody>
									  <tr ng-repeat="attendee in meetup.attendees">
										<td>{{attendee.name}}</td>
										<td>
											<div class="checkbox checkbox-success checkbox-inline">
												 <input id="responseYes" type="checkbox" class="styled" name="response" ng-model="attendee.response"  ng-click="updateResponse($event, attendee.attendeeId,'YES')"
														ng-true-value="YES" ng-false-value="NO">
												 <label for="responseYes">
													Yes
												</label>
											</div>
											 <div class="checkbox checkbox-danger checkbox-inline">
												<input id="responseNo" type="checkbox" class="styled" name="response" ng-model="attendee.response"  ng-click="updateResponse($event, attendee.attendeeId,'NO')"
														ng-true-value="NO" ng-false-value="YES">
												<label for="responseNo">
													No
												</label>
											</div>
										</td>
									 </tr>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
					<div id="messages" class="tab-pane fade">
						<div class="row font-black">
							<div class="col-md-5">
								
							</div>
							<div class="col-md-8" >
								<div class="row">
									<div class="col-md-12">
										<textarea class="form-control" rows="2" id="comment" ng-model="postMessage" placeholder="What's on your mind?"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<a class="a-prevent-default"  ng-click="postMessageToMeetup()">
											<h3 class="pull-left"><span class="label label-primary">Post</span></h3>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-8" >
								<div ng-if="messagesPresent" class="list-group">
									<div class="row list-group-item" ng-repeat="message in meetup.messages">
										<div class="col-md-8">
											<h4 class="list-group-item-heading pull-left">{{message.meetupAttendee.name}}</h4>  <span>{{message.timeToDisplay}}</span>
										</div>
										<div class="col-md-8">
											<p class="list-group-item-text pull-left">{{message.message}}</p>
										</div>
									</div>
								</div>
								<div ng-if="!messagesPresent" class="list-group">
									<div class="row list-group-item">
										<div class="col-md-9">
											<h4 class="list-group-item-heading pull-left">There are no messages in meetup</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
