<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h3 class="pull-left">Events</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="tagsModal" role="dialog">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title font-black">Your Tag Preferences</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" id="tags" class="form-control input-lg" />
					</div>
				</div>
				<div class="modal-footer">
					<a class="a-prevent-default" data-dismiss="modal">
						<h3 class="pull-left"><span class="label label-primary" >Close</span></h3>
					</a>
					<a class="a-prevent-default" ng-click="saveUserTags()">
						<h3 class="pull-left"><span class="label label-primary" >Save</span></h3>
					</a>
				</div>
			  </div>
			</div>
		</div>
		<div class="panel-body">
			<div class="container">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" class="a-prevent-default" data-target="#foryou">For You</a></li>
					<li><a data-toggle="tab" class="a-prevent-default" data-target="#popular">Popular</a></li>
					<li><a data-toggle="tab" class="a-prevent-default" data-target="#friends">Friends</a></li>
				</ul>
				<div class="tab-content">
					<div id="foryou" class="tab-pane fade in active">
						<div class="row">
							<div class="col-md-11">
								<div class="row pull-right">
									<div class="col-md-12">
										<a class="a-prevent-default" ng-click="userTags()">
											 <img src="/GeoService/resources/img/tag.png" class="img-responsive"  alt="Event Preferences">
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-10" ng-init="getPersonalizedEvents()">
								
								<div class="panel panel-default" ng-repeat="event in personalizedEvents">
								  <div class="panel-body">
									<div class="row">
										<div class="col-md-3">
											<a href="#/events/{{event.uuid}}" class="portfolio-box">
												<img data-ng-src="data:image/jpg;base64,{{event.image}}" class="img-responsive" alt="">
											</a>
										</div>
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-8 pull-left">
													<p class="font-black pull-left">{{event.startDate}}</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 pull-left">
													<a href="#/events/{{event.uuid}}" class="portfolio-box">
														<h2 class="font-black pull-left">{{event.title}}</h2>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 pull-left">
													<span class="font-black pull-left">{{event.eventDetails.organizer.name}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-footer">
										<div class="row">
											<div class="col-md-11">
												<ul class="list-inline">
													<li class="font-black" ng-repeat="tag in event.tags">
														<span class="label label-info">#{{tag.description}}</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div id="popular" class="tab-pane fade">
						<div class="row" ng-init="initEventTypes()">
							<div  ng-if="!isCategorySelected" class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="type in eventTypes">
								<a class="a-prevent-default" ng-click="searchByCategory($event, type.name)">
									 <img src="/GeoService/resources/img/event-types/{{type.name}}.jpg" class="thumbnail img-responsive">
									 <div class="carousel-caption">
									  <h1>{{type.description}}</h1>
									</div>
								</a>
							</div>
						</div>
						<div class="row row-centered">
							<div class="col-md-10 col-centered" ng-if="isCategorySelected">
								<a class="a-prevent-default" ng-click="backToEventTypes()">
									 <img src="/GeoService/resources/img/back.png" class="img-responsive">
								</a>
							</div>
							<div class="col-md-10" ng-if="isCategorySelected">
								<div class="panel panel-default" ng-repeat="event in eventsByType">
									<div class="panel-body">
										
										<div class="row">
											<div class="col-md-3">
												<a href="#/events/{{event.uuid}}" class="portfolio-box">
													<img data-ng-src="data:image/jpg;base64,{{event.image}}" class="img-responsive" alt="">
												</a>
											</div>
											<div class="col-md-8">
												<div class="row">
													<div class="col-md-8 pull-left">
														<p class="font-black pull-left">{{event.startDate}}</p>
													</div>
												</div>
												<div class="row">
													<div class="col-md-8 pull-left">
														<a href="#/events/{{event.uuid}}" class="portfolio-box">
															<h2 class="font-black pull-left">{{event.title}}</h2>
														</a>
													</div>
												</div>
												<div class="row">
													<div class="col-md-8 pull-left">
														<span class="font-black pull-left">{{event.eventDetails.organizer.name}}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-footer">
											<div class="row">
												<div class="col-md-11">
													<ul class="list-inline">
														<li class="font-black" ng-repeat="tag in event.tags">
															<span class="label label-info">#{{tag.description}}</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div id="friends" class="tab-pane fade">
					
					</div>
				</div>
			</div>
		</div>
</div>
<script src="/GeoService/resources/js/ui/bootstrap-tagsinput.js"></script>